:root {
    --font-weight: bold;
    --intro-text: 20px;
    --h1: 40px;
    --box-shadow: 10px 10px 20px rgba(17, 63, 103, 0.4);
    --transition: all 200ms ease-in-out;
    --primary: #113F67;
    --secondary: #38598B;
    --accent: #E7EAF6;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--accent);
    font-family: 'Karma', sans-serif;
}

.intro {
    font-size: var(--intro-text);
    font-weight: var(--font-weight);
    margin-top: 20%;
}

a {
    text-decoration: none;
    color: white;
}

.name {
    font-size: var(--h1);
}

.span {
    color: var(--primary);
    font: bolder;
}

.resume {
    margin-left: 4px;
}

.btns {
    margin-top: 5%;
}

.contact-btn {
    background-color: var(--primary);
    padding: 15px 30px;
    box-shadow: var(--box-shadow);
}

.launch-btn {
    background-color: var(--primary);
    padding: 15px;
    box-shadow: var(--box-shadow);
}

.contact-btn:hover {
    opacity: 0.9;
    transition: var(--transition);
}

.resume-btn {
    background-color: var(--secondary);
    padding: 15px 30px;
    margin-left: 3%;
    box-shadow: var(--box-shadow);

}

.resume-btn:hover {
    opacity: 0.9;
    transition: var(--transition);
}



.projects {
    margin-top: 7%;
}

.projects p {
    margin-bottom: 7%;
}

.icons a {
    text-decoration: none;
    color: var(--primary);
    margin-top: 20%;
}



@media(max-width:768px) {
    .row {
        display: flex;
        flex-direction: column;
    }

    .col-6 {
        width: 100%;
    }

    .projects img {
        margin-top: 12%;
    }

    .icons {
        margin-top: 5%;
    }
}